<nav class="navbar navbar-toggleable-md navbar-dark bg-faded">
  <a class="navbar-brand" href="/">SpeedChat <i class="fa fa-paper-plane"></i></a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/join">Join</a>
      <a class="nav-item nav-link" href="/create">Create</a>
    </div>
  </div>
</nav>
