<% include partials/header %>
<% include partials/navbar %>
<div class="container-fluid chat">
  <div class="text-center">
    <h3><%=typeof roomName !== 'undefined'? roomName:"Chill Chat Room"%></h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 id="userName">
            <%=typeof user !== 'undefined'? user.userName:"Anonymous"%>
          </h5>
          <i class="hidden" id="userID"><%=typeof user !== 'undefined'? user.userID:0%></i>
        </div>
        <div class="card-block chatBox">
        </div>
        <div class="card-footer">
          <div id="messageForm">
            <table>
              <tr>
                <td class="textboxParent">
                  <textarea id="chatTextbox" class="form-control" placeholder="Enter Message"></textarea>
                </td>
                <td class="submitParent">
                  <button class="btn btn-primary" id="sendMsgBtn">Send</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% var scriptDir = "/js/chatClient.js";%>
<% include partials/visualFooter %>
<% include partials/footer %>
